/* .bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */

@font-face {
 font-family: "Fink";
 src: url("fonts/FinkHeavy.ttf");
 }

 @font-face {
  font-family: "humming";
  src: url("fonts/nintendoP_Humming-E_002pr.otf");
  }

.island-info {
  font-family: humming;
}
