.top-image {
  width: 40%;
  padding: 15px;
  border-radius: 70px;
  margin-left: 30%;
  top: 10%;
}

/* text section */
#title {
  font-family: finkheavymedium;
  font-size: 2.5rem;
}

.island-info {
  margin-top: 10px;
  text-align: center;
  top: 45%;
  left: 55%;
}

code {
  color: blue;
  font-size: 1.2rem;
}


/* icons section */
.discord, .reddit{
  width: 100px;
  padding: 10px;
}

.icons {
  margin-left: 43%;
  position: static;
}

/* .discord {
  margin-left: 43%;
} */

a:hover, a:visited {
  text-decoration: none;
}

/* font stylesheet */

@font-face {
    font-family: 'finkheavymedium';
    src: url('fonts/fink-webfont.woff') format('woff2'),
         url('fonts/fink-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nintendoP_Humming-E_002pr';
    src: url('fonts/nintendo-webfont.woff2') format('woff2'),
         url('fonts/nintendo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
